body {
    font-family: 'Roboto', sans-serif;
    color: #757575;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #212121;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.logo-span {
    color: #2196F3;
}
.logo-studio {
    color: white;
}

.nav-list {
    list-style: none;
}


.nav-studio, .nav-link, .nav-link, .nav-portfolio {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #212121;
}
.nav-studio, .nav-portfolio {
    color: #2196F3;
}

.contacts {
    list-style: none;
    
}
.contacts-link {
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}
.contacts-link:hover {
    color: #2196F3;
}

.part-one {
    background-color: #2F303A;
}
.one-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.one-button {
    background-color: #2196F3;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.two-list {
    list-style: none;
}

.two-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.two-content {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}

.three-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.three-list {
    list-style: none;
}

.four-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.four-list {
    list-style: none;
}

.title-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.title-prof {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.footer {
    background-color: #2F303A;
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.address-list {
    list-style: none;
}
.address-maps {
    text-decoration: none;
    color: #FFFFFF;
}

.address-link {
    text-decoration: none;
    color: #ffffff99;
}
.title-project {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.title-item {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
}
.project-list {
    list-style: none;
}

.button-list {
    list-style: none;
}
.project-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}

.project-button:hover, .project-button:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}